body {
    margin: 0px;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(230, 228, 228);
    box-shadow: 1px 1px gray;
}


.logo {
    height: 70px;
}

.button {
    border: 0px;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bolder;
}

.button:hover {
    cursor: pointer;
    transform: scale(1.1);
    
}
.mainbutton {
    background-color: rgb(134, 218, 8);
    color: white;
}

.mainbutton:hover {
    box-shadow: 1px 1px green;
}

.secondarybutton {
    background-color: rgb(8, 152, 218);
    color: white;
}

.secondarybutton:hover{
    box-shadow: 1px 1px rgb(8, 152, 218);
}
.buscar {
    background-color: #fff;
    border: 1px solid gray;
    padding: 4px;
    border-radius: 8px;
}

.buscar:focus-within {
    border: 1px solid blue;
}

.buscar > input{
    outline: none;
    border: 0px;
}
