body {
    margin: 0px;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.button {
    border: 0px;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bolder;
}

.button:hover {
    cursor: pointer;
    transform: scale(1.1);
    
}
.mainbutton {
    background-color: rgb(134, 218, 8);
    color: white;
}

.mainbutton:hover {
    box-shadow: 1px 1px green;
}

.secondarybutton {
    background-color: rgb(8, 152, 218);
    color: white;
}

.secondarybutton:hover{
    box-shadow: 1px 1px rgb(8, 152, 218);
}